<div class='shop-stuff'>
<h1 class="textcentered">SHOP STUFF</h1>

<div class ="stuff-container">
    <div>
      <img src="../../assets/images/product-type-icons/do.svg" alt="">
      <p>Get back to nature with all the tools and toys you need to enjoy the great outdoors</p>
      <button>DO STUFF</button>
    </div>
    <div>
      <img src="../../assets/images/product-type-icons/eat.svg" alt="">
      <p>Nothing beats food cooked over a fire. We have all you need for good camping eats.</p>
      <button>EAT STUFF</button>
    </div>
    <div>
      <img src="../../assets/images/product-type-icons/sleep.svg" alt="">
      <p>Get a good night's rest in the wild in a home away from home that travels well.</p>
      <button>SLEEP STUFF</button>
    </div>
    <div>
      <img src="../../assets/images/product-type-icons/wear.svg" alt="">
      <p>From flannel shirts to toques look the part while roughin it in the great outdoors.</p>
      <button>WEAR STUFF</button>
    </div>

</div>

</div>
